<div  *ngIf="user" class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{user.username}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!-- Left Col -->
            <div class="text-center">
                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div>
            <div class="panel panel-default"></div>
            <ul>
                <li></li>
                <li></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i>
                    
                </div>
            </div>
        </div>
    </div>
</div>