.navbar {
    padding: 20px;
    margin-bottom: 40px;

    .navbar-brand {
        margin-right: 30px;
        font-size: 30px;
        letter-spacing: 1px;
        color: $main-color;
        font-weight: 500;
    
        img {
            margin-top: 15px;
            height: 20px;
        }
    }
    
    .nav-item {
        font-size: 14px;
    }
    
}