<section id="newRental">
    <div class="bwm-form">
        <div class="row">
            <div class="col-md-5">
                <h1 class="page-title">Create Rental</h1>
                <form #rentalForm="ngForm">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input 
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            [(ngModel)]="newRental.title"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input 
                            type="text"
                            class="form-control"
                            id="city"
                            name="city"
                            [(ngModel)]="newRental.city"
                            required
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>